<html>
<head>
	<title>New Comment</title>

</head>
<body>
	<a class="btn btn-default" role="button" href="/<%=user%>">Home</a>
	<a class="btn btn-default" role="button" href="/forum/<%=page%>">Back</a>
	<h1>Comment</h1>
	<form action="/forum/<%=page%>" method="POST">
		<input type="hidden" name="post" value="<%=page%>">
		<input type="hidden" name="user" value="<%=user%>" />
		<div class="form-group">
			<textarea name="body" class="form-control" rows="5"></textarea>
		</div>
		<input type="submit" value="Post" />
	</form>

</body>
</html>