<html>
<head>
	<title><%=post[0].title%></title>
</head>
<body>
	<a class="btn btn-default" role="button" href="/<%=post[0].author%>">Home</a>
	<div>
		<h1><%=post[0].title%></h1>
		<h3>By: <%=post[0].author%></h3>
	</div>
	<p><%=post[0].body%></p>

	<a class="btn btn-default" role="button" href="<%=page%>/new">Comment</a>

	<div>
	<% if (comments.length === 0){ %>
		<p>No Comments</p>
	<% } else { %>
		<% for(i=0; i<comments.length; i++){ %>
			<div>
			<p><%=comments[i].body%></p>
			<p>By:<%=comments[i].user%></p>
			</div>
			<% } %>
	<% } %>
	</div>

<!-- 	need to set up an if statment for req.session.name being undefined when someone tries to post a comment -->
</body>
</html>