<html>
<head>
	<title><%=post[0].title%></title>
</head>
<body>
	<a class="btn btn-default btn-xs pull-right" role="button" href="/<%=post[0].author%>">Home</a>
	<div>
		<div>
			<h1><%=post[0].title%></h1>
			<h3>By: <%=post[0].author%></h3>
		</div>
		<p><%=post[0].body%></p>
	</div>
	<a class="btn btn-default btn-xs" role="button" href="<%=page%>/new">Comment</a>

	<div class="comments">
	<% if (comments.length === 0){ %>
		<p>No Comments</p>
	<% } else { %>
		<table class="table table-striped">
			<% for(i=0; i<comments.length; i++){ %>
				<tr>
					<td><p><%=comments[i].body%></p></td>
				    <td><p>By:<%=comments[i].user%></p></td> 
				</tr>
			<% } %>
	<% } %>
	</div>

<!-- 	need to set up an if statment for req.session.name being undefined when someone tries to post a comment -->
</body>
</html>